
//$nameofVar: value;
$black: black;
$gold:#be8f1f;
body{
    font-family: 'Playfair Display', serif;
    line-height:  1.618;
    margin: 0 0 0 3%;
 }
 .hello, header, main,.area,.nameDesc, main {
    display:flex;
}

 i:hover,.nav li a,.connectHdr, .letsConnect{
    color:$black;
}
.nav li a:hover, .hello, h1, i{
    color: $gold;
}

/* header */
/*--------------------------------------- */


.AP{
    font-size: 2.5em;
    padding-left: 1.15em;
    margin-top: 1em;
    font-weight: bolder;
    color:$black;
    font-family:'Times New Roman', Times, serif
 }

 /* for square */
 .area {
    position:absolute;
    margin: 25px 0 15px 28px;
 }
 .object {
    width:70px;
    height:70px;
    border: 2px solid $gold;
    animation: anim 2s;
 }
 
 .object:hover{
     border: 2px solid $black;
 }

/* nav */

 .navigation{
      margin-top:2.8em;
 }

.nav li{
    display: inline-block;
    /* padding: 0 1em; */
}
.nav li a{
    text-decoration: none;
    margin-left:2em;
}


.hamburger{
    display:none;
}



/* about section */
/*--------------------------------------- */
h2{
    text-align: center;
}
.hello{
    font-size: 2.5em;
}
.p{
    font-size: 1.5em;
}


.head3{
    margin: 2em .5em;
}
.aboutAP{
    width: 80%;
}
.connectBox, .blackBox{
    
    opacity: .85;
    border: 7px inset $gold;
    margin-top: 1.8em;
    margin-left: 4.5em;
    
   
  
}
.blackBox{
    width: 27em;
    height:23em;
    /* position: relative; */
    background-color: $black;
  
}
.connectBox{
    width:21em;
    position: absolute;
    padding: 3em;
    margin-right:5em;
    border: 5px dotted $black;
    
}

.letsConnect{
    position: relative;
}
i{
    font-size:2em;
}
//  .fa-github{
//     margin-left:7em;
    
// }
// .fa-linkedin-in{
//     margin-left: 2em;
// }
.paragraphs{
    width: 60%;   
}

input, textarea{
    border: 1px dashed $black;
    font-size: 1em;
    font-family: "Fira Sans";
    text-transform: uppercase;
}
/* form */
/*--------------------------------------- */

/* .container{
    display: flex;
    margin-top:3em;
    max-width: 95%;
} */


/* testimonials */
/*--------------------------------------- */

/* portfolio */
/*--------------------------------------- */
.sliders{
    width: 80%;
}

.carousel{
    background: #2f4357;
    margin-top: 20px;
    width: 70%;
}
// .carousel .item{
//     min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
// }
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
    // margin: 20px;
    z-index: 0;
}

/* maps */

//   #map {
//     text-align: center;
//   }


/* contact */

// footer

#googleMap{
    opacity: 0.25;
    height: 100%; 
    // width: 100%; 
    position:absolute;  
    z-index: 1;
    margin-left: 10em;
}
#contactForm { 
    position: relative; 
    z-index: 2; 
    width: 300px;
    margin: 60px auto 0;
    padding: 10px;
    background: black;
    height: auto;
    opacity: .45; 
    // color: white;
  }
/*--------------------------------------- */
 
 @keyframes anim {
    0% {
       transform:rotate(45deg);
    }
    100% {
       transform:rotate(90deg);
    }
 }
