body{
    font-family: 'Playfair Display', serif;
    line-height:  1.618;
    margin: 0 0 0 3%;
 }
 i:hover,.nav li a,.connectHdr, .letsConnect{
    color:black
}
.nav li a:hover, .hello, h1, i{
    color:#be8f1f;
}
/* header */
/*--------------------------------------- */
.hello,  header{
    display:flex;
}

.AP{
    font-size: 2.5em;
    padding-left: .95em;
    font-weight: bolder;
    color: black;
    font-family:'Times New Roman', Times, serif
 }

 /* for square */
 .area {
    position:absolute;
    display:flex;
    margin: 25px 0 15px 28px;
 }
 .object {
    width:70px;
    height:70px;
    border: 2px solid #be8f1f;
    animation: anim 2s;
 }
 
 .object:hover{
     border: 2px solid black;
 }

/* nav */

 .navigation{
      margin-top:2.8em;
 }
.nav{
    list-style: none;
    letter-spacing: .25em;
    max-width: 96%;
}
.nav li{
    display: inline-block;
    padding: 0 1em;
}
.nav li a{
    text-decoration: none;
}


.hamburger{
    display:none;
}

hr{
    margin-right: 1em;
    width: 80%;
}

/* about section */
/*--------------------------------------- */
.hello{
    font-size: 2.5em;
}
.p{
    font-size: 1.5em;
}
.about{
    width: 95%;
}

.head3{
    margin: 2em .5em;
}

.nameDesc, .about{
    display: flex;
}
.aboutP{
    justify-content: flex-end;
}

.connectBox, .blackBox{
    
    opacity: .85;
    border: 7px inset #be8f1f;
    margin-top: 1.8em;
    margin-left: 4.5em;
    
   
  
}
.blackBox{
    width: 27em;
    height:23em;
    position: relative;
    background-color:black;
  
}
.connectBox{
    width:21em;
    position: absolute;
    padding: 3em;
    margin-right:5em;
    border: 5px dotted black;
    
}

.letsConnect{
    position: relative;
}
i{
    font-size:2em;
}
 .fa-github{
    margin-left:7em;
    
}
.fa-linkedin-in{
    margin-left: 2em;
}
.paragraphs{
    width: 60%;
    margin-right:2em;   
}
.connectHdr{
    margin-left: 9em;
    margin-top: 1.5em;
}
input, textarea{
    border: 1px dashed black;
    font-size: 1em;
    font-family: "Fira Sans";
    text-transform: uppercase;
}
/* form */
/*--------------------------------------- */

.container{
    display: flex;
    margin-top:3em;
    max-width: 95%;
}


/* testimonials */
/*--------------------------------------- */

/* portfolio */
/*--------------------------------------- */
.carouselSlider{
    position: relative;
}
.carousel{
    background: #2f4357;
    margin-top: 20px;
    width: 50%;
    position: relative;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}

/* contact */
/*--------------------------------------- */
 
 @keyframes anim {
    0% {
       transform:rotate(45deg);
    }
    100% {
       transform:rotate(90deg);
    }
 }
