html{
  scroll-behavior: smooth;
  /* font-size: 2vw; */
}

body {
  font-family: "Playfair Display", serif;
  line-height: 1.618;
  margin: 0 4%;
  width:90vw;
  height: 100vh;
}

.hello, header, main, .area, .nameDesc, main, .portTest, aside, .paragraphs, #contactContainer {
  display: flex;
}
.paragraphs{
  height: 100vh;

  background: #edf4f4;
  position: relative;
}
.hellopg{
  font-size: 1.1em;
  max-height: 80vh;
  max-width: 80vw;
}

aboutAP.p{
  font-size: 1vw;
}


h1{
  font-size: 2.5vw;
}

#col1{
  width: 100%;
  margin-left:2%;

}
#col2{
  width: 50%;
}
i:hover, .nav li a, .connectHdr, .letsConnect {
  color: #333333;
}

.nav li a:hover, .hello, h1, i {
  color: #be8f1f; 
}


.stickyNav {
  position: relative;
	/* position: -webkit-sticky; */
}
.header, .nav {
	text-align: center;
	color: #fff;
}
.content {
	width: 600px;
	margin: 10px auto 100px;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  /* z-index: 100; */
  /* border-top: 0; */
}

/* header */
/*--------------------------------------- */
.object {
  width: 75px;
  height: 75px;
  border: 2px solid #be8f1f;
  animation: anim 2s;
  position: relative;
  margin-right: 1em;
  margin-top: .8em;
}

.AP {
  font-size: 2.5em;
  /* padding-left: .55em; */
  margin-top: .85em; 
  margin-left: .4em;
  font-weight: bolder;
  color: #333333;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
}

.object:hover {
  border: 2px solid #333333;
  box-shadow: inset 0px 0px 0px 0px #be8f1f, 0px 0px 10px 5px #be8f1f;
}

/* nav */
.navbar, .navbar-inverse {
  border: black;
	border-radius: 0;
	margin-bottom: 0;
	/* min-height: 80px; */
}

.navbar-inverse .navbar-nav > li > a {
	font-size: 1.7em;
  font-weight: 300;
  color: black;
	/* padding: 30px 25px 33px 25px; */
}
.navbar-inverse .navbar-toggle .icon-bar{
  background-color:black;
}

.navbar-toggle-collapsed{
  background-color: white;
  /* color: #999999;  */
}
.navbar-toggle-collapsed:hover{
  background-color: golden;
  /* color: #999999;  */
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  color:white;
  background-color: #be8f1f;
  opacity: .5;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: #be8f1f;
}

.container{
  background-color: white;
}

.nav li a {
  margin-top: 1em;
  text-decoration: none;
  padding: none;
  background-color: white;
}
#navLink1, #navLink2, #navLink3:hover, #navLink4{
  background-color: white;
}

.hamburger {
  display: none;
}


.unstyled{
  margin: none;
  padding: none;
}

#ellaImage{
  z-index: 255;
  width: 250px;
  height: 250px;
  margin-left: 35%;
  margin-bottom: 10%;
}


/* about section */
/*--------------------------------------- */
h2 {
  text-align: center;
}

.hello {
  font-size: 2.5em;
}


.p {
  font-size: 1.5em;
}

.head3 {
  margin: 2em 0.5em;
}

.aboutAP {
  width: 80%;
}
/* .aboutMe{
  background-color:white;
} */


.andreaImg{
  margin-top: 4em;
  margin-right:7em;
   /* border: 1px solid grey; */
}

.p{
  height: 100%;
}
form{
  margin: 2em;
  height: 60%;  
 
}
#name, #email, #subject, #message{
  margin-left: 1em;
  width: 100%;
}
#name{
  margin-bottom: 1em;
}
i {
  font-size: 2em;
}


.fa-linkedin-in, .fa-github {
  margin: 1.2em .5em;
}

.btn-default{
  color:	#428bca;
}

input, textarea {
  border: 1px dashed black;
  font-size: 1em;
  color: #5C7E9B;
}
input:focus, textarea:focus {
  background-color: beige;
  color:#5C7E9B;
}


/* form */
form{
  width: 100%;
  position: relative;
  margin-top: 2em;
}

#submitBtn {
	border-radius: 0.3em;
	box-shadow: inset 0px 0px 30px 45px #428bca , 0px 0px 0px 0px #AC9079;
	color: #FFFFE7; 
  transition: box-shadow 0.2s, color 0.1s 0.25s;
  margin-top: 1em;
  margin-left: 1em;
}

#submitBtn:hover {
	box-shadow: inset 0px 0px 0px 0px #428bca, 0px 0px 20px 10px #428bca;
 color: #428bca;
}
/*--------------------------------------- */
/* testimonials */
/*--------------------------------------- */
.one, .two, .three, .four {
  z-index: 1000;
  width: 70%;
  margin: 5em;
  color:black; 
  font-size: 1.3vw;
  background-color: white;
  opacity: .85;
}

.grey{
  height: 100vh;
  width: 100vh;
}
#testimonial-container {
  /* width: 100vw;*/
  height:100vh; 
  margin: 10px auto;
  z-index: 50;
  background: url("images/computer.jpg");
  background-size: cover;
  background-repeat:none;
  background-position:center;
  opacity: .7;
  text-align: center;
  position: relative;
}

#contactContainer{
  width: 90vw;
  height:75vh;
  background:#333333;
}
#testTitle{
  padding: 1em;
}
.one{
  width: 60%;
  font-size: 1em;
}

.two, .three, .four{
  /* margin-left: 18rem; */
  font-size: 1em;
  width: 50%;
  
}
  main{
  background-color:beige;
  color:black;
  height: 100vh;
  position: relative;
}
/* portfolio */
/*--------------------------------------- */
/* .portTitle{
  text-align: center;
  margin: 2em;
  padding: 2em;
} */
.project{
  font-weight: bolder;
  text-decoration: underline;
}
#portText{
  width: 40%; 
  font-size: 1.2em;
  background-color:#EBE8E3;
  color:grey;
  height: 100%;
  padding: 4em;

}
.sliders {
  width: 80%;
}
.carText{
  text-align: center;
  font-size: 2em;
}
.carousel {
  background:#F5F5DD;
  margin-top: 20px;
  max-width:100%;
}

#myCarousel{
  max-height: 80%;
  max-width: 80%;
}
.carousel .item img {
  margin: 0 auto;
  max-width: 100%;
  /* Align slide image horizontally center */
}

.carousel-control{
  max-height: 100%;
  max-width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: 10%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {

  width: 100vw;
  height: 80vh;
  min-width: 300px;
  min-height: 300px;

}
.bs-example {
  z-index: 0;
  /* width:  100%; */
  /* height: 100%; */
}

/* maps */
/* contact */
#contactHdr{
  color:#AC9079;
  padding: .25px;
}
#googleMap {
  /* opacity: 0.5; */
  margin-right: 3em;
  margin-top: 2em;
  position: relative;
  z-index: 2;
  margin-top: 1em;
  width:50%; 
  height:80%;
}
#shadow{
  position: absolute;
  z-index: 190;
  background-color: lightgrey;
  opacity: .5;
  height:100%;
  width: 100%;
}

#thumbnail{
  opacity: 1;
  z-index: 2000;
  margin-right: 25%;
  margin-top: 5%;
  height: 600px;
  width: 600px;
  /* text-align: center; */
}

/*--------------------------------------- */
@keyframes anim {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

/*# sourceMappingURL=style.css.map */
/* media queries */
/* 
@media only screen and (max-width: 400px){
  .hamburger{
    display:block;
    position:absolute;
    top:10px;
    left:2px;
  }
  #fabars{
    display:block;
    position: absolute;
    color:white;
    font-size: 1.5rem;
  }
} */
/* @media screen and (min-width: 1200px){
  #ellaImage{
    height:120px;
    width:120px;
  }
  .paragraphs{
    font-size: 1rem;
  }
} */

/* @media only screen and (max-height: 1042px){
  .aboutAP{
    font-size:.85em;
  }
  p#portText{
    padding: none;
    font-size: 1.5rem;
  }
}
@media only screen and (max-height: 1042px){
  .aboutAP{
    font-size:.75em;
  }
} */
/* @media only screen and (max-height: 950px){
  .aboutAP{
    font-size:.75em;
  }
  .andreaImg{
    width:100%;
    padding-right: 1em;
  }
} */


@media only screen and (max-height: 1042px){
  p#portText{
    padding: none;
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px){
  .object{
    width: 60px;
    height: 60px;
    margin-bottom: 1em;
  }
  #portText{
    padding: none;
    font-size: 10px;
  }
  i{
    font-size: 1.3em;
  }
  .fa-linkedin-in, .fa-github {
    margin: 1.6em .5em;
  }
  .aboutAP{
    font-size: .95em;
  }
  .AP{
    font-size:2em;
  }
  .navbar-inverse .navbar-nav > li > a{
    font-size: 1.1em;
  }

  .col2{
    width: 100px;
  }
  .hello{
    font-size: 1.8em;
    max-height: 80vh;
    max-width: 100vw;
  }
.andreaImg{
    width: 80%;
    max-width: 300px;
    margin-right:5em;
  }
  p#portText{
    padding: none;
    margin:none;
    font-size: 1.1em;
    height:100vh;
  }
  #thumbnail{
    width:450px;
    height:450px;
    margin-right: 8em;

  }
  .bs-example{
    width:1000px;
    height:1000px;
    margin-left: 4em;
    margin-top:4.5em;
  }
 p.one, p.two, p.three, p.four{
    font-size: 1em;
    margin-top: 2em;
  }

#googleMap{
  margin-top: 4em;
  width: 450px;
  height: 300px;
}
#name, #email, #subject, #message, #submitBtn{
  /* margin-left: 1.8em; */
  width: 90%;
}
 .fa-linkedin-in, .fa-github {
  margin:none;

}}
@media only screen and (max-height: 450px){


  .hamburger{
    margin-top:5em;
  }
  #col2{
    height: 50%;
    margin:none;
  }
 
}

@media only screen and (max-width: 780px){
  .andreaImg{
    max-width: 250px;
    width: 90%;
    height: 30vh;
  }
  .form{
    max-width: 250px;
    height: 30vh;
  }
.hellopg{
  max-width: 80vw;
  max-height: 80vh;
}
  #googleMap{
    max-width: 50%;
  }
}
@media only screen and (max-width: 1100px){
  .paragraphs{
    max-height: 80vh;
  }
  .andreaImg{
    /* max-width: 250px; */
    width: 90%;
    /* height: 30vh; */
  }
  .form{
    max-width: 250px;
    height: 30vh;
  }
.hellopg{
  font-size: .8em;
  max-width: 80vw;
  max-height: 80vh;
}
@media only screen and (max-width: 800px){
  .andreaImg{
    max-width: 250px;
    width: 90%;
    height: 30vh;
  }
  .form{
    max-width: 250px;
    height: 30vh;
  }
.hellopg{
  font-size: .8em;
  max-width: 80vw;
  max-height: 80vh;
}
  #googleMap{
    max-width: 50%;
  }

}}